body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #f0f0f0;
  margin: 2rem;
}

h1 {
  color: #2c3e50; font-weight: 300;
  margin-top: 0;
}
h2 { font-weight: 400;color: #2c3e50; }

.conversion-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-block: 2.5rem 2rem;
}

.input-group {
  flex: 1;
}

#type-selector {
  width: 250px; margin: auto;
}
#type {
  padding: 8px 12px; border-radius: 4px;
}
select, input {
  width: 100%;
  border: 1px solid #dadce0;
}

.input-field {
  font-size: 1.8rem;
  background: white;
  margin-bottom: -1px;
  border-radius: 4px 4px 0 0;
  padding: .5rem; 
}
.unit-selector {
  background-color: #f8f9fa;
  border-radius: 0 0 4px 4px;
  font-size: 15px;
  color: #555;
  padding: 6px 10px; 
}

select, button {
  cursor: pointer; transition: all .3s ease;
}

select {
  color: #555555;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="%23545454"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
}

form {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  margin: 1.5rem auto;
  max-width: 700px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.03);
}

#message {
  font-weight: bold;
  color: #006600;
  margin: 1em 0;
}

#history {
  background: #fff;max-width: 700px;
  margin: 1.5rem auto;
  padding: 1em;
  border-radius: 4px;
  list-style-type: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.03);
}

#history li {
  margin-bottom: .3em;
  font-size: 0.95em;
}

.swap-button {
  background: none;
  border: none;
  font-size: 32px;
  color: #61656b;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.swap-button:hover {
  transform: rotate(180deg);
}

* {
  box-sizing: border-box;
  line-height: 1.2;
  text-align: center;
}

#convertButton {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: .25rem .75rem;
}
.input-field::-webkit-outer-spin-button, 
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}